[submodule "wallet-contract/lib/forge-std"]
	path = wallet-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "wallet-contract/lib/openzeppelin-contracts"]
	path = wallet-contract/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "wallet-contract/lib/solmate"]
	path = wallet-contract/lib/solmate
	url = https://github.com/transmissions11/solmate